.dropmenudiv,.dropmenudiv ul,.dropmenudiv li ul{

visibility: hidden;position:absolute;top:0; left:0; z-index:100;
background: #f2f2f2;margin:0;padding:0;width:250px;list-style: none;
border: 1px solid #d9d9d9;
border-left: solid 3px #CCC;
webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;
-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

}
.dropmenudiv li a{
	
display: block;text-decoration:none;background: #f2f2f2;color:#555;padding: 7px 14px;
border: 1px solid #e6e6e6;border-width:1px 1px 0 0;
font-size: 13px;height: auto;line-height:1;

-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 

}
.dropmenudiv li a:hover{background:#ebebeb;color:#333;}