table.calendar {
	background-color: white;
	/*border: solid #999999 1px;
	width: 200px;
	border-collapse: collapse;*/
	background-color: white;
	text-align: center;
	/*prevent user from selecting text in Mozilla & Safari - check calendar constructor for IE code)*/
	-moz-user-select: none;
    /*-khtml-user-select: none;*/
}
table.calendar input, table.calendar select {
	font-size: 11px;
}
table.calendar td {
	border: 0;
	font-size: 11px;
	text-align: center;
}
div.mainheading {
	margin: 2px;
}
table.caldayheading {
	border-collapse: collapse;
	cursor: pointer;
	empty-cells: show;
	margin: 0 6px 0 6px;
}
table.caldayheading td {
	/*border: solid #CCCCCC 1px;*/
	text-align: center;
	color: #FFFFFF;
	background-color: #666666;
	height:22px;
	font-weight: bold;
	width: 25px; /*should match calendar cell's width*/
}
table.caldayheading td.wkhead {
	border-right: double #CCCCCC 3px;
	display:none;
}
table.calcells {
	border-collapse: collapse;
	cursor: pointer;
	margin: 0 6px 0 6px;
}
table.calcells td {
	border: solid #CCCCCC 1px;
	vertical-align: top;
	text-align: center;
	vertical-align:middle;
	font-weight: bold;
	width: 25px;
	height: 22px; /*IE doesn't like ems*/
}
table.calcells td div {
	padding: 3px;
	margin: 0;
}
table.calcells td.wkhead {
	background-color: white;
	text-align: center;
	border-right: double #CCCCCC 3px;
	color: #0054E3;
	display:none;
}
table.calcells td.wkday {
	background-color: #FFFFFF;
}
table.calcells td.wkend {
	background-color: #DDDDDD;
}
table.calcells td.curdate {

}
table.calcells td.cell_selected {
	background-color: #99CCFF;
	color: black;
}
table.calcells td.notmnth {
	background-color: #FFFFFF;
	color: #CCCCCC;
}
table.calcells td.notallowed {
	background-color: white;
	color: #EEEEEE;
	font-style: italic;
}
table.calcells td.hover {
	background-color: #999999;
	background-image: url(./../shop_images/over.png);
	background-repeat: repeat-x;
}
